## Visual Studio / .NET
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## OS Generated
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## Default Output & Publish Directories
ConvertedISOs/
ExtractedGames/
publish/
*.zip
